<h1><%= @folder.name %></h1>

<%= link_to "New folder", new_folder_path(parent_id: @folder.id) %> | 
<%= link_to "New document", new_document_path(folder_id: @folder.id) %><br><br>

<% @folder.folders.each do |folder| %>
  📁<%= link_to folder.name, folder %><br>
<% end %>

<% @folder.documents.each do |doc| %>
  📝<%= link_to doc.name, doc %><br>
<% end %>
