<h1><%= @folder.name %></h1>

<h2>Folders</h2>
<% @folder.folders.each do |folder| %>
  <%= link_to folder.name, folder %><br>
<% end %>
<%= link_to "Add folder", new_folder_path %>

<h2>Documents</h2>
<% @folder.documents.each do |doc| %>
  <%= link_to doc.name, doc %><br>
<% end %>
<%= link_to "Add document", new_document_path %>
