<p id="notice"><%= notice %></p>

<div id="partial-id" hidden><%= partial.id %></div>
    
<% if partial.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(partial.errors.count, "error") %> prohibited this partial from being saved:</h2>

    <ul>
      <% partial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: partial, local: true) do |form| %>
  <div class="actions">
    <%= form.submit %>
  </div>
  <br><br>
  
  <div class="field" style="text-align: center;">
    <%= form.text_field :name %>
  </div>

  <div class="row">
    <div class="col">
      <div class="leftside">
        <div id="editable-partial" contenteditable="true">
          <%= partial.content %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="rightside">
        <%= render inline: partial.content %>
      </div>
    </div>
  </div>

<% end %>

<script>
  document.getElementById('editable-partial').addEventListener('input', inputChanged);
  
  function inputChanged(e) {
    window.e = e
    document.getElementById('editable-partial').addEventListener('input', inputChanged);
    id = document.getElementById('partial-id').innerText
    console.log(id);
    console.log(e.target.innerText);
    if (id) {
      updatePartial(id, e.target.innerText);
    }
  }

  function updatePartial(id, value) {
    $.ajax({
      type: "PATCH",
      url: "/partials/" + id + ".json",
      data: {
        authenticity_token: $('[name="csrf-token"]')[0].content,
        partial: {content: value}
      },
      success: function (data) {console.log("success data: ", data); return false},
      error: function (data) {console.log("error update data: ", data); return false}
    })
  }
</script>
