<p id="notice"><%= notice %></p>

<h1>Partials</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partials.each do |partial| %>
      <tr>
        <td><%= partial.name %></td>
        <td><%= partial.content %></td>
        <td><%= link_to 'Show', partial %></td>
        <td><%= link_to 'Edit', edit_partial_path(partial) %></td>
        <td><%= link_to 'Destroy', partial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partial', new_partial_path %>
