<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_partial_path(@partial) %> |
<%= link_to 'Back', partials_path %>
<br><br>

<h1 id="partial_name"><%= @partial.name %></h1>      

<div class="row">
  <div class="col">
    <div class="leftside">
      <%= @partial.content %>
    </div>
  </div>
  <div class="col">
    <div class="rightside">
      <%= render inline: @partial.content %>
    </div>
  </div>
</div>
