<p id="notice"><%= notice %></p>

<% @document.ancestors.each do |a| %>
  <%= link_to a.name, a %> >
<% end %>
<%= @document.name %>

 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <%= link_to 'Edit', edit_document_path(@document) %>
 | <%= link_to 'Back', documents_path %>

<br><br>

<%= render @document %>
