
<p id="notice"><%= notice %></p>

<h1>Purchases</h1>

<% @purchases.group_by(&:supplier_id).each do |supplier_id, purchases| %>
<h2><%= purchases[0].supplier.name %></h2>
<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Qty</th>
      <th>Part</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.day %></td>
        <td><%= purchase.quantity %></td>
        <td><%= link_to purchase.part.name, purchase.part %></td>
        <td><%= purchase.price %>$</td>
        <td><%= link_to 'Show', purchase %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'New Purchase', new_purchase_path %>
