<h1>Personal stuff</h1>

<%= link_to "Musiques", musics_path %><br>
<%= link_to "Films", movies_path %><br>
<%= link_to "Livres", books_path %><br>
<%= link_to "Ideas", ideas_path %><br>
<%= link_to "Contacts", contacts_path %><br>
