<h2>Spreadsheet</h2>

<%
  @headers = @columns.map {|(k,v)| k }
  @data = []
  @records = @model.order(:id).all
  @records.each do |m|
    @data << @columns.map {|(k,v)| m.public_send(k).to_s }
  end
  @cols = @columns.map {|(name,type)|
    a = @model.reflect_on_all_associations.select {|a| a.macro == :belongs_to and a.foreign_key.to_s == name.to_s}
    if a.size == 1
      a = a.first
      {type: 'dropdown', source: a.klass.all.map(&:to_param)}
    elsif type == :integer or type == :float
      {type: 'numeric'}
    elsif type == :date or type == :datetime
      {type: 'date'}
    elsif type == :time
      {type: 'time'}
    elsif type == :boolean
      {type: 'checkbox'}
    #{data: "isActive", type: 'checkbox'},
    else
      {readOnly: name.to_s == "id"}
    end
    #autocomplete for Handsontable.cellTypes.autocomplete
    #checkbox for Handsontable.cellTypes.checkbox
    #date for Handsontable.cellTypes.date
    #dropdown for Handsontable.cellTypes.dropdown
    #handsontable for Handsontable.cellTypes.handsontable
    #numeric for Handsontable.cellTypes.numeric
    #password for Handsontable.cellTypes.password
    #text for Handsontable.cellTypes.text
    #time for Handsontable.cellTypes.time
  }
  @data << @columns.map {|(k,v)| nil }
  #@edit_links = @records.map {|m| link_to m.id, polymorphic_path}
  #100.times do
  #  @data << @columns.map {|(k,v)| nil }
  #end
%>

<div id="example" data-spreadsheetheaders="<%= @headers.to_json %>" data-spreadsheettablename="<%= @model.table_name %>" data-spreadsheetmodel="<%= @model.name.underscore %>" data-spreadsheetcols="<%= @cols.to_json %>" data-spreadsheetvalues="<%= @data.to_json %>"></div>

<button id='add_row_spreadsheet'>Add</button>

<%= javascript_pack_tag 'spreadsheet' %>
