<h2>Spreadsheet</h2>

<%
  @headers = @columns.map {|(k,v)| k }
  @data = []
  @model.order(:id).all.each do |m|
    @data << @columns.map {|(k,v)| m.public_send(k).to_s }
  end
  @data << @columns.map {|(k,v)| nil }
  #100.times do
  #  @data << @columns.map {|(k,v)| nil }
  #end
%>

<div id="example" data-spreadsheetheaders="<%= @headers.to_json %>" data-spreadsheettablename="<%= @model.table_name %>" data-spreadsheetmodel="<%= @model.name.underscore %>" data-spreadsheetvalues="<%= @data.to_json %>"></div>

<button id='add_row_spreadsheet'>Add</button>

<%= javascript_pack_tag 'spreadsheet' %>
